<!DOCTYPE html>
<html>
<head>
  <title>Update Employee</title>
</head>
<body>
<h1>Mitarbeiter bearbeiten</h1>
<div class="Window">
  <form (ngSubmit)="onSubmit(employeeForm)" #employeeForm="ngForm">
    <div class="mb-3">
      <label for="firstName" class="form-label">Vorname</label>
      <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstName" name="firstName" required>
    </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Nachname</label>
    <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName" name="lastName" required>
  </div>
  <div class="mb-3">
    <label for="street" class="form-label">Straße</label>
    <input type="text" class="form-control" id="street" [(ngModel)]="employee.street" name="street" required>
  </div>
  <div class="mb-3">
    <label for="postcode" class="form-label">Postleitzahl</label>
    <input type="text" class="form-control" id="postcode" [(ngModel)]="employee.postcode" name="postcode" required>
  </div>
  <div class="mb-3">
    <label for="city" class="form-label">Stadt</label>
    <input type="text" class="form-control" id="city" [(ngModel)]="employee.city" name="city" required>
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Telefonnummer</label>
    <input type="text" class="form-control" id="phone" [(ngModel)]="employee.phone" name="phone" required>
  </div>
  <button type="button" class="btn btn-secondary btn-lg button-spacing" (click)="NavigationBack()">Abbrechen</button>
  <button type="button" class="btn btn-secondary btn-lg button-spacing" (click)="NavigationDeleteEmployee()">Löschen</button>
  <button type="submit" class="btn btn-secondary btn-lg" [disabled]="!employeeForm.form.valid">Speichern</button>
</form>
</div>
</body>
</html>
