<!DOCTYPE html>
<html>
<head>
  <title>Main Employee View</title>
</head>
<body>
<div>
  <p class= "spacer"></p>
  <h1 class="text-center">Mitarbeiter der HiTec GmbH</h1>
  <p class= "spacer"></p>

  <div class="smaller">
    <table class="table table-striped table-hover"z>
      <thead>
      <tr>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Stadt</th>
      </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
  <button class="fab" (click)="NavigationCreateEmployee()">+</button>


</div>



</body>
</html>
