<!DOCTYPE html>
<html>
<head>
  <title>Create Employee</title>
</head>
<body>
<h1>Mitarbeiter hinzufügen</h1>
<div class="Window">
  <div class="mb-3">
    <label for="firstName" class="form-label">Vorname</label>
    <input type="text" class="form-control" id="firstName" [(ngModel)]="newEmployee.firstName" name="firstName" placeholder="Bitte geben Sie den Vornamen ein">
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Nachname</label>
    <input type="text" class="form-control" id="lastName" [(ngModel)]="newEmployee.lastName" name="lastName" placeholder="Bitte geben Sie den Nachnamen ein">
  </div>
  <div class="mb-3">
    <label for="street" class="form-label">Straße</label>
    <input type="text" class="form-control" id="street" [(ngModel)]="newEmployee.street" name="street" placeholder="Bitte geben Sie die Adresse ein">
  </div>
  <div class="mb-3">
    <label for="postcode" class="form-label">Postleitzahl</label>
    <input type="text" class="form-control" id="postcode" [(ngModel)]="newEmployee.postcode" name="postcode" placeholder="Bitte geben Sie die Postleitzahl ein">
  </div>
  <div class="mb-3">
    <label for="city" class="form-label">Stadt</label>
    <input type="text" class="form-control" id="city" [(ngModel)]="newEmployee.city" name="city" placeholder="Bitte geben Sie die Stadt ein">
  </div>
  <div class="mb-3">
    <label for="phonenumber" class="form-label">Telefonnummer</label>
    <input type="text" class="form-control" id="phonenumber" [(ngModel)]="newEmployee.phone" name="phone" placeholder="Bitte geben Sie die Telefonnummer ein">
  </div>
  <button type="button" class="btn btn-secondary btn-lg button-space" (click)="NavigationBack()">Abbrechen</button>
  <button type="button" class="btn btn-secondary btn-lg" (click)="NavigationForward()">Speichern</button>
</div>
</body>
</html>
